body {
    background-image: url('washing\ dog.jpg');
    background-color: burlywood;
    background-repeat: repeat-x;
    background-attachment: fixed;
}
h1{
    text-decoration: underline;
    text-align: left;
    color: white;
    font-size: 32px;
}
h2 {
    text-align: center;
    text-decoration: underline;
}
h3{
    text-decoration: underline;
    text-align: left;
    color: black;
    font-size: 25px;
}
p {
    text-align: left;
}
.alert {
    text-decoration: underline;
    color: white;
    font-size: 20px;
}
.wrapper {
    background-color: burlywood;
}
.sum {
    text-align: left;
    font-size: 18px;
}